<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12">
      <div class="page-header" style="color: #337ab7;">
        <h3>Grocery Store Simulation</h3>
        <p><%= @customers_count %> customers simulation</p>
        <p class="bg-info" style="letter-spacing: 3px; text-align: center; line-height: 2;">
          Developed by <strong>Amr Albashrawi</strong> for <strong>Dr.Khaled Mahar</strong> as an assignment in Modeling and Simulation subject
        </p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <table class="table table-hover">
            <thead>
              <th>Step</th>
              <th>Activity</th>
              <th>Clock</th>
              <th>Activity</th>
              <th>Clock</th>
              <th>Output</th>
              <th>Clock</th>
              <th>Output</th>
              <th>Output</th>
            </thead>
            <thead>
              <th>#</th>
              <th>Interarrival<br/>time (min)</th>
              <th>Arrival time</th>
              <th>Service time<br /> (min)</th>
              <th>Time service<br/>begins</th>
              <th>Waiting time<br/>in queue<br />(min)</th>
              <th>Time service<br/>ends</th>
              <th>Time customer<br/>spends<br />in system</th>
              <th>Idel time<br/>of server</th>
            </thead>
            <tbody>
              <% @customers.each do |customer| %>
                <tr>
                  <td><%= customer[:number] %></td>
                  <td><%= customer[:inter_arrival_time] %></td>
                  <td><%= customer[:arrival_time] %></td>
                  <td><%= customer[:service_time] %></td>
                  <td><%= customer[:time_service_begins] %></td>
                  <td><%= customer[:waiting_in_queue] %></td>
                  <td><%= customer[:time_service_ends] %></td>
                  <td><%= customer[:time_in_system] %></td>
                  <td><%= customer[:server_idel_time] %></td>
                </tr>
              <% end %>

              <tr>
                <th>#</th>
                <th>Interarrival<br/>time (min)</th>
                <th>Arrival time</th>
                <th>Service time<br /> (min)</th>
                <th>Time service<br/>begins</th>
                <th>Waiting time<br/>in queue<br />(min)</th>
                <th>Time service<br/>ends</th>
                <th>Time customer<br/>spends<br />in system</th>
                <th>Idel time<br/>of server</th>
              </tr>

              <tr class="info">
                <td>Total</td>
                <td><%= @total[:inter_arrival_time] %></td>
                <td></td>
                <td><%= @total[:service_time] %></td>
                <td></td>
                <td><%= @total[:waiting_in_queue] %></td>
                <td></td>
                <td><%= @total[:time_in_system] %></td>
                <td><%= @total[:server_idel_time] %></td>
              </tr>

              <tr class="warning">
                <td>Average</td>
                <td><%= (@total[:inter_arrival_time] / @customers_count.to_f).round(2) %></td>
                <td></td>
                <td><%= (@total[:service_time] / @customers_count.to_f).round(2) %></td>
                <td></td>
                <td><%= (@total[:waiting_in_queue] / @customers_count.to_f).round(2) %></td>
                <td></td>
                <td><%= (@total[:time_in_system] / @customers_count.to_f).round(2) %></td>
                <td><%= (@total[:server_idel_time] / @customers_count.to_f).round(2) %></td>
              </tr>

              <tr class="success">
                <td colspan="8">
                  Wait probability = Total number of customers who wait / Total number of customers
                </td>
                <td colspan="1"><%= (@total[:customers_who_wait] / @customers_count.to_f).round(2) %></td>
              </tr>

              <tr class="success">
                <td colspan="8">
                  Idel server probability = Total idel time of server / Total run time of simulation
                </td>
                <td colspan="1"><%= (@total[:server_idel_time] / @last_time_service_ends.to_f).round(2) %></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
